<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form 2</title>
</head>
<body>
    <form method="post" action="summary">
        <lable for="name">Which meal?
            <input type="text" name="meal">
        </lable>
        <input type="submit" value="Place Order">
    </form>
</body>
</html>